html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;

  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;

  width: 100%;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 80px 5px #d4d4d4;
          box-shadow: 0 10px 80px 5px #d4d4d4;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button{
  border: none;

  color: #ffffff;
  text-transform: uppercase;
  line-height: 21px;
  font-weight: bold;
}

.main-nav {
  position: relative;
  font-weight: 700;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 15px 6%;
  margin: 0 auto;
}

.main-nav__list,
.features__list,
.footer-social__list,
.filters__list,
.filter-results__sort,
.offers__list,
.offers__raiting-icons {
  list-style: none;
}

.main-nav__item{
  width: 20%;
}

.main-nav__item:nth-child(4n+3) {
  margin-left: 12%;
  padding-right: 4px;
}

.main-nav__item:nth-child(4n+4),
.main-nav__item:nth-child(4n+3) {
  text-align: right;
}

.main-nav__link,
.offers__list_title {
  color: #000000;
}

.main-nav__link:hover,
.offers__title:hover {
  color: #81b3d2;
}

.main-nav__link:active,
.offers__title:active {
  color: #bdbbbc;
}

.main-nav__link--actual {
  color: #766357;
}

.main-nav__logo {
  position: absolute;
  top: 0;
  left: -webkit-calc(50% - 69px);
  left: calc(50% - 69px);
  z-index: 1;
}

.intro {
  position: relative;

  min-height: 509px;
  margin: 0 auto;
  padding-top: 76px;
  margin-bottom: 61px;

  text-align: center;

  background-color: #81b3d2;
  background-image: url('../img/intro-background.jpg');
  background-repeat: no-repeat;
  background-position-y: -56px;
}

.intro::after {
  content: '';

  position: absolute;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 57px;

  background-image: url('../img/intro-shape.png');
  -webkit-background-size: 100% 57px;
          background-size: 100% 57px;
  background-repeat: no-repeat;
}

.features {
  margin-bottom: 50px;

  text-align: center;
}

.features__heading {
  max-width: 440px;
  margin-top: 0px;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;

  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.features__main-text {
  margin: 0;
  margin-bottom: 51px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features__item {
  width: 33.33%;
  min-height: 257px;
  padding-top: 47px;
  padding-bottom: 60px;

  color: #333333;
  text-align: center;
  line-height: 21px;

  background-color: #eeeeee;
}

.features__item--long{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
  padding-top: 0;
  padding-bottom: 0;

  color: #ffffff;

  background-color: #81b3d2;
}

.features__info {
  width: 33.3%;
  margin: 0;
  padding-top: 47px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 60px;
}

.features__img-wrapper {
  position: relative;

  width: 66.7%;
  height: inherit;
  margin: 0;

  overflow: hidden;
}

.features__img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.features__item:nth-child(2) .features__info {
  padding-left: 4%;
  padding-right: 4%;
}

.features__item:nth-child(3) {
  padding-left: 4.9%;
  padding-right: 5%;
}

.features__item:nth-child(4) {
  padding-left: 5.7%;
  padding-right: 5.7%;
}

.features__item:nth-child(5) {
  padding-left: 6.4%;
  padding-right: 6.25%;
}

.features__title {
  width: 151px;
  max-width: 240px;
  margin: 0 auto;
  margin-bottom: 23px;


  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.features__text {
  margin: 0;
}

.features__text--number {
  margin-bottom: 21px;
}


.features__item--inner .features__title {
  color: #000000;
}

.features__item .features__item--inner {
  position: relative;

  width: 33.33%;
  min-height: 330px;
  padding: 0;
  padding-top: 160px;
  padding-bottom: 84px;

  color: #333333;
  font-size: 14px;
  line-height: 21px;

  background-color: #ffffff;
}

.features__item--inner:first-child {
  padding-left: 6%;
  padding-right: 6%;
}

.features__item--inner:first-child::before {
  content: '';

  position: absolute;
  left: -webkit-calc(50% - 37.5px);
  left: calc(50% - 37.5px);
  top: 59px;

  width: 75px;
  height: 72px;

  background-image: url('../img/icon-1.svg')
}

.features__item--inner:nth-child(2) {
  padding-left: 4.75%;
  padding-right: 4.8%;
}

.features__item--inner:nth-child(2)::before {
  content: '';

  position: absolute;
  left: -webkit-calc(50% - 37px);
  left: calc(50% - 37px);
  top: 60px;

  width: 74px;
  height: 70px;

  background-image: url('../img/icon-2.svg')
}

.features__item--inner:last-child {
  padding-left: 5.4%;
  padding-right: 5.3%;
}

.features__item--inner:last-child::before {
  content: '';

  position: absolute;
  left: -webkit-calc(50% - 33px);
  left: calc(50% - 33px);
  top: 56px;

  width: 64px;
  height: 76px;

  background-image: url('../img/icon-3.svg')
}

.form {
  position: relative;

  text-align: center;
}

.form__heading {
  margin: 0;
  margin-bottom: 23px;
  padding-left: 15px;
  padding-right: 15px;

  color: #000000;
  font-size: 30px;
  line-height: 36px;
}

.form__text {
  margin: 0;
  margin-bottom: 46px;
  padding-left: 15px;
  padding-right: 15px;

  line-height: 24px;
}

.form .button {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.form__button {
  width: 566px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form__button,
.offers__button--order {
  background-color: #766357;
}

.form__button:hover,
.offers__button--order:hover {
  background-color: #604e43;
}

.form__button:active,
.offers__button--order:active {
  background-color: #503e33;

  color: #928a85;
}

.form__button--search {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 16px;
}

.form__button--search,
 .offers__button--more {
  background-color: #81b3d2;
}

.form__button--search:hover,
.offers__button--more:hover {
  background-color: #669ec0;
}

.form__button--search:active,
.offers__button--more:active {
  background-color: #5496bd;

  color: #88b6d1;
}

.form__field {
  position: absolute;
  left: 50%;
  margin-left: -283px;
  z-index: 2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
  width: 566px;
  padding: 55px;
  padding-top: 56px;

  background-color: #ffffff;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.form__wrapper--short {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  margin-bottom: 21px;
}

.form__label {
  font-weight: 700;
  color: #000000;
  word-wrap: break-word;
}

.form__input {
  border: none;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 13px;
  width: 346px;

  font-weight: 700;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.form__wrapper--label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form__wrapper--label:nth-child(2n - 1) {
  max-width: 49%;
}

.form__wrapper--label:nth-child(2n) {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 39%;
}

.form__wrapper--label:nth-child(2n) .form__label{
  margin-right: 27px;
  max-width: 70px;
}

.form__wrapper--short .form__input {
  width: 114px;
  padding-left: 0;

  text-align: center;
}

.form__input:hover {
  background-color: #ebebeb;
}

.form__input:focus {
  -webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
          box-shadow: inset 0 0 0 2px #e5e5e5;

  background-color: #ffffff;
}

.form__input-wrapper--date {
  position: relative;
}

.form__icon--calendar {
  position: absolute;
  top: -webkit-calc(50% - 11px);
  top: calc(50% - 11px);
  right: 8px;

  margin: 0;
  padding: 0;
  border: none;
  width: 21px;
  height: 22px;

  background-color: rgba(0,0,0,0);
}

.form__icon--calendar:hover path {
  fill: #000000;
}

.form__icon--calendar:active path {
  fill: #81b3d2;
}

.form__input-wrapper--number {
  position: relative;
}

.form__icon--plus,
.form__icon--minus {
  position: absolute;
  top: 4px;
  right: 13px;

  width: 12px;
  margin: 0;
  padding: 0;
  border: none;

  color: #a9a9a9;
  font-size: 24px;
  font-weight: 700;

  background-color: rgba(0,0,0,0);
}

.form__icon--minus {
  top: 3px;
  left: 11px;
}

.form__icon--plus:hover,
.form__icon--minus:hover {
  color: #000000;
}

.form__icon--plus:active,
.form__icon--minus:active {
  color: #81b3d2;
}

.form__input::-webkit-input-placeholder{
  color: #000000;
}

.form__input::-moz-placeholder{
  color: #000000;
  opacity: 1;
}

.form__input:-ms-input-placeholder{
  color: #000000;
}

.form__input::-ms-input-placeholder{
  color: #000000;
}

.form__input::placeholder{
  color: #000000;
}

.map__img {
  min-height: 593px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
  padding-left: 11.1%;
  padding-right: 8.4%;
  padding-bottom: 44px;
  padding-top: 37px;
}

.main-footer--index{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;

  width: 100%;

  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer__info {
  max-width: 328px;
  margin: 0;

  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 32px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  min-width: 150px;
  height: 48px;
  margin: 0;
  margin-left: 32px;
  padding: 0;
}

.footer-social__item {
  margin-right: 5px;
  margin-bottom: 6px;
}

.footer-social__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  width: 47px;
  height: 48px;

  background-color: #81b3d2;
}

.footer-social__button:hover {
  background-color: #669ec0;
}

.footer-social__button:active {
  background-color: #5496bd;
}

.footer-social__button:active path{
  fill: #88b6d1;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
  margin: 0;
  max-width: 328px;
}

.footer-copyright__link {
  display: block;
  height: 41px;
  margin-left: 7px;
}

.footer-copyright__link svg {
  width: 115px;
  height: 41px;
}

.footer-copyright__link:hover path {
  fill: #81b3d2;
}

.footer-copyright__link:active path {
  fill: #bdbbbc;
}

.filters {
  background-color: #81b3d2;
  background-image: url('../img/background-blur.jpg');
  background-repeat: no-repeat;
  background-position-y: -55px;

  color: #ffffff;
}

.filters__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 28px;
  padding-bottom: 29px;
}

.filters__choice {
  border: none;
  padding: 0;
  margin: 0;
}

.filters__choice--cost{
  margin-left: auto;
  width: 30%;
  max-width: 316px;
  min-width: 262px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;

  color: #ffffff;
  text-transform: uppercase;
}

.filters__legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters__choice--cost .filters__legend {
  margin-bottom: 9px;
}

.filters__price {
  position: relative;

  height: 33px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.filters__price::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.filters__price .filters__label {
  display: inline-block;

  font-size: 14px;
  line-height: 28px;
  vertical-align: top;

  cursor: pointer;
}

.filters__label--min-price {
  width: 29%;
  padding-left: 21%;
}

.filters__label--max-price{
  padding-left: 18%;
  width: 24%;
  min-width: 77px;
}

.filters__price .filters__input {
  width: 50px;
  margin: 0;
  height: 29px;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.filters__range {
  position: relative;

  margin-bottom: 32px;
}

.filters__bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.filters__scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.filters__range-btn {
  position: absolute;
  top: -9px;

  display: block;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.filters__range-btn--min {
  left: 0;
}

.filters__range-btn--max {
  left: 80%;
}

.filters__range-btn:hover {
  border: 9px solid #ffffff;
}

.filters__button {
  display: block;
  margin: 0;
  margin-left: 27%;
  padding: 6px 10.5%;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  cursor: pointer;
}

.filters__button:hover {
  color: #000000;

  background: #ffffff;
}

.filters__list {
  margin: 0;
  padding: 0;
}

.filters__choice--checkboxes {
  max-width: 150px;

  word-wrap: break-word;
}

.filters__choice--checkboxes .filters__legend {
  margin-bottom: 23px;
}

.filters__choice--checkboxes:first-child {
  margin-right: 11.3%;
}

.filters__item {
  margin-bottom: 19px;
  padding-left: 41px;
}

.filters__item:last-child {
  margin-bottom: 0;
}

.filters__item .filters__label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filters__option + .filters__label::before {
  content: '';
  position: absolute;
  top: -webkit-calc(50% - 11.5px);
  top: calc(50% - 11.5px);
  left: -39px;

  width: 23px;
  height: 23px;

  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;

  cursor: pointer;
}

.filters__option:checked + .filters__label::before {
  width: 27px;

  background-image: url('../img/checkbox-on.svg');
}

.filters__option:disabled + .filters__label::before {
  background-image: url('../img/checkbox-off-disabled.svg');
}

.filters__option:checked:disabled + .filters__label::before {
  width: 27px;

  background-image: url('../img/checkbox-on-disabled.svg');
}

.filters__option:focus + .filters__label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          -webkit-align-items: baseline;
          align-items: baseline;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 31px;
  padding-bottom: 27px;

  -webkit-box-shadow: 0 1px 0 0 #e5e5e5;
          box-shadow: 0 1px 0 0 #e5e5e5;
}

.filter-results__number {
  margin: 0;
  margin-right: 48px;

  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.filter-results__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  padding:0;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.filter-results__title {
  margin-right: 39px;
}

.filter-results__parameter {
  margin-right: 33px;
  border-bottom: 1px dotted #81b3d2;

  color: #b2b2b2;
}

.filter-results__parameter:hover {
  color: #81b3d2;
}

.filter-results__parameter:active {
  border: none;

  color: #000000;
}

.filter-results__parameter--active {
  border: none;

  color: #81b3d2;
}

.filter-results__ranking {
  margin-left: auto;
}

.filter-results__order--down {
  margin-left: 9px;
}

.filter-results__order:hover path {
  fill: #231f20;
}

.filter-results__order--active path,
.filter-results__order:active path{
  fill: #81b3d2;
}

.offers__list {
  padding: 0;
  margin: 0;
}

.offers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin: 0;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 31px;
  padding-bottom: 21px;

  -webkit-box-shadow: 0 1px 0 0 #e5e5e5;
          box-shadow: 0 1px 0 0 #e5e5e5;
}

.offers__photo{
  margin-right: 31px;
}

.offers__description {
  line-height: 21px;
}

.offers__title {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.offers__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin-bottom: 17px;
}

.offers__type,
.offers__price {
  margin: 0;
}

.offers__type{
  width: 115px;
}

.offers__raiting{
    margin-left: auto;
}

.offers__raiting-text {
  margin: 0;
  margin-bottom: 9px;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 14px;
  padding-right: 11px;

  background-color: #f2f2f2;

  line-height: 21px;
  color: #666666;
}

.offers__raiting-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          -webkit-justify-content: flex-end;
          justify-content: flex-end;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
}

.offers__raiting-star {
  width: 18px;
  height: 17px;
  margin-left: 5px;

  background-image: url('../img/rank-star.svg');
  background-repeat: no-repeat;
}

.offers__button {
  display: inline-block;

  padding-left: 17px;
  padding-right: 17px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.offers__button--more {
  margin-right: 2px;
}

.footer-copyright {
  color: #000000;
 }

.filters__input::-webkit-input-placeholder{
  color: #ffffff;
}

.filters__input::-moz-placeholder{
  color: #ffffff;
  opacity: 1;
}

.filters__input:-ms-input-placeholder{
  color: #ffffff;
}

.filters__input::-ms-input-placeholder{
  color: #ffffff;
}

.filters__input::placeholder{
  color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
