body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button{
  color: #ffffff;
  text-transform: uppercase;
  line-height: 21px;
  font-weight: bold;
}

.main-nav {
  font-weight: 700;
}

.main-nav__list,
.features__list,
.footer-social__list,
.filters__list,
.filter-results__sort,
.offers__list {
  list-style: none;
}

.main-nav__link,
.offers__title {
  color: #000000;
}

.main-nav__link:hover,
.offers__title:hover {
  color: #81b3d2;
}

.main-nav__link:active,
.offers__title:active {
  color: #bdbbbc;
}

.intro {
  text-align: center;

  background-color: #81b3d2;
  background-image: url('../img/intro-background.jpg');
  background-repeat: no-repeat;
}

.features {
  text-align: center;
}

.feautures-heading {
  font-size: 21px;
  font-weight: 700;
 }


.features__item {
  background-color: #eeeeee;

  color: #000000;
  text-align: center;
}

.features__item:first-child,
.features__item:nth-child(2) {
  background-color: #81b3d2;

  color: #ffffff;
}

.features__item .features__item--inner {
  background-color: #ffffff;

  color: #000000;
}

.features__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.features__item--inner:first-child .features__icon {
  width: 75px;
  height: 75px;

  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
}

.features__item--inner:nth-child(2) .features__icon {
  width: 75px;
  height: 75px;

  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
}

.features__item--inner:last-child .features__icon{
  width: 75px;
  height: 75px;

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
}

.form {
  text-align: center;
}

.form .button {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.form__button,
.offers__button--order {
  background-color: #766357;
}

.form__button:hover,
.offers__button--order:hover {
  background-color: #604e43;
}

.form__button:active,
.offers__button--order:active {
  background-color: #503e33;

  color: #928a85;
}

.form__button--search,
 .offers__button--more {
  background-color: #81b3d2;
}

.form__button--search:hover,
.offers__button--more:hover {
  background-color: #669ec0;
}

.form__button--search:active,
.offers__button--more:active {
  background-color: #5496bd;

  color: #88b6d1;
}

.form__label {
  font-weight: 700;
}

.form__input {
  border: none;

  background-color: #f2f2f2;

  font-weight: 700;
}

.form__input:hover {
  background-color: #ebebeb;
}

.form__input:focus {
  border: 2px solid #e5e5e5;

  background-color: #ffffff;
}

.main-footer__info {
  font-size: 21px;
  font-weight: 700;
}

.filters {
  background-color: #81b3d2;
  background-image: url('../img/background-blur.jpg');
  background-repeat: no-repeat;

  color: #ffffff;
}

.filters__choice {
  border: none;
}

.filters__legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters-label {
  line-height: 21px;
}

.filters__input {
  border-radius: 2px;
  border: 2px solid #ffffff;

  background-color: rgba(0, 0, 0, 0);

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.filters__button {
  border-radius: 2px;
  border: 2px solid #ffffff;

  background-color: rgba(0, 0, 0, 0);

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.filters__button:hover {
  background-color: #ffffff;

  color: #000000;
}

.filter-results__number {
  font-size: 21px;
  font-weight: 700;
}

.filter-results__sort {
  font-size: 12px;
  line-height: 18px;
}

.filter-results__parameter {
  border-bottom: 1px dotted #81b3d2;

  color: #b2b2b2;
}

.filter-results__parameter:hover {
  color: #81b3d2;
}

.filter-results__parameter:active {
  border: none;

  color: #000000;
}

.offers__title {
  font-size: 21px;
  font-weight: 700;
}

.offers__raiting-text {
  background-color: #f2f2f2;
}


